# Core
numpy>=2.4.6
pandas>=2.0
scipy>=1.17.1

# ML
scikit-learn>=1.9.0

# Deep Learning (uncomment as needed)
# torch>=2.0
# tensorflow>=2.13

# Visualization
matplotlib>=3.11.1
seaborn>=0.13.2

# Experiment tracking
wandb>=0.28.1
# mlflow>=2.8

# NLP
# transformers>=4.35
# datasets>=2.14

# Utilities
tqdm>=4.70.0
pyyaml>=6.0
python-dotenv>=1.2.2

# Dev tools
pytest>=7.4
ruff>=0.1
mypy>=1.7
black>=23.12

# DVC
dvc>=3.0
